<div class="chat" >
  <div class="present-contact" *ngIf="selectedContact">
    <app-present-contact-bar *ngIf="selectedContact" [currentContact]="selectedContact" (clicked)="showContactInfo()"></app-present-contact-bar>
  </div>
  <div class="messages" *ngIf="!isContactInfo && selectedContact">

    <div  >
      <div [ngClass]="{'talk stranger': userPrimary !== message.user.id, 'talk me':userPrimary == message.user.id}" *ngFor="let message of messages">
        <div>
          {{message.message}}
        </div>
      </div>
    </div>
  </div>
  <div class="send-message" *ngIf="!isContactInfo && selectedContact">
    <app-message-bar [selectedContact]="selectedContact"></app-message-bar>
  </div>
  <div class="contact-info" *ngIf="isContactInfo && selectedContact">
    <app-contact-info [currentContact]="selectedContact"></app-contact-info>
  </div>
</div>
