@import "src/styles.scss";
.present-contact-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  background-color: $background-color-medium;
  padding: 0.6rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s ease-in-out;
  }

  .user-image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $max-height-bar;
    max-height: $max-height-bar;
    overflow: hidden;
    border-radius: $max-height-bar;
    margin-right: 1rem;
    image {
      width: $max-height-bar;
      height: auto;
    }
  }

  .user-information {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    cursor: pointer;

    .user-name {
      font-weight: 700;
    }

    .status {
      display: flex;
      align-items: center;
      color: $green;

      .ng-fa-icon {
        font-size: 0.5em;
        margin-right: 0.5em;
      }
    }
  }
}
