<div class="contact-info">
  <div class="contact-image">
    <div class="image-container">
      <img src="https://picsum.photos/300/300" alt="" />
    </div>
  </div>
  <div class="user-informations">
    <div class="information-section">
      Informações do usuário
      <div>-</div>
    </div>
    <div class="information-title">
      Informações para contato
      <div>-</div>
    </div>
    <div class="information-title">
      Informações de cargo
      <div>-</div>
    </div>
    <div class="information-title">
      Recado padrão
      <div>-</div>
    </div>
  </div>
</div>
