<div class="contact-info">
  <div class="contact-image">
    <div class="image-container">
      <img src="https://picsum.photos/300/300" alt="" />
    </div>
  </div>
  <div class="user-informations">
    <div class="information-section">
      Informações do usuário
    </div>
    <div class="information-title">
      Informações para contato
      <div>Nome Completo: {{currentContact.user_name || '-'}}</div>
      <div>Email: {{currentContact.user_email || '-'}}</div>
      <div>Celular: {{currentContact.user_phone || '-'}}</div>
    </div>
    <div class="information-title">
      Informações de cargo
      <div>Empresa: {{currentContact.user_company || '-'}}</div>
      <div>Cargo: {{currentContact.user_occupation || '-'}}</div>
    </div>
    <div class="information-title">
      Recado padrão
      <div>"{{currentContact.user_standardScrap || '-'}}"</div>
    </div>
  </div>
</div>
