@import "../../../styles.scss";
.contact-info {
  display: flex;
  flex-direction: column;
  height: 100%;

  .contact-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 1rem 0 1rem 0;
    height: 50%;
    .image-container {
      border-radius: 100%;
      overflow: hidden;
      height: 12rem;
      width: 12rem;
      image {
        height: 100%;
        width: auto;
      }
      img{
        margin-left: 40px;
        margin-top:20px;
      }
    }
  }

  .user-informations {
    display: block;
    text-align: center;

    .information-section {
      margin-top: 16px;
    }

    .information-title {
      font-size: 14px;
    }

    .information-section,
    .information-title {
      font:30px $font-key ;
      margin-bottom: 1rem;
    }
  }
  .element{
    &-wrapper{
      display: grid;
      grid-template-columns: 10rem 15rem;
      grid-column-gap: 1px;
      margin-left: 15rem;
    }
    div:not(:first-child){
      // max-width: 30px;
      
    }
    &-key{
      font-family: $font-key;
      text-align: left;
      margin-top:10px;
      padding-bottom:20px;
    }
    &-value{
      font-family: $font-value;
      font-weight: bold;
      margin-top:10px;
      text-align:left;
      padding-bottom:20px;
    }
  }
}
