@import "src/styles.scss";

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  padding: 0.6rem;
  cursor: pointer;
  &:hover {
    background: #0d3965;
    color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-bottom: none;
  }

  .user-image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $max-height-bar;
    max-height: $max-height-bar;
    overflow: hidden;
    border-radius: $max-height-bar;
    margin-right: 1rem;
    img {
      border-radius: 50%;
      max-height: 40px;
      background: white;
    }
  }

  .user-information {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    .user-name {
      font-weight: 700;
    }

    .last-message {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 1rem;
    }
  }
}
