<div class="contact">
    <div class="user-image">
        <img src="https://picsum.photos/50/50" alt="">
    </div>
   <div class="user-information">
       <div class="user-name">James</div>
       <div class="last-message">
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor commodi saepe velit deleniti cum perspiciatis corrupti vero, dolorum temporibus maiores. Dignissimos, praesentium rerum fugit sed quidem beatae dicta iure dolore?</p>
       </div>
   </div>
</div>