@import "src/styles.scss";
.contact-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  padding: 0.6rem;
  margin-bottom: 2rem;
}
